@font-face {
  font-family: "Nunito-Medium";
  src: url("../fonts/Nunito-Medium.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.woff2") format("woff2");
  font-style: normal;
}
